/* CAROSELLO */
.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}
/* CARD DEL FILM */
.film-card {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.film-card img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
    object-position: center;
    display: block;
}
/* FRECCE CAROSELLO */
#prevBtn, #nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    font-size: 20px;
}
#prevBtn { left: 10px; }
#nextBtn { right: 10px; }

/* SEZIONE PROGRAMMAZIONE */
.programmazione{
    font-family: var(--font);
    color: whitesmoke;
    max-width: 1000px;
    min-width: fit-content;
    width: 100%;
    margin: 20px auto;
    background-color: var(--background-header);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.programmazione h2{
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    border-bottom: 2px solid var(--navbar-color);
} 
/* LISTA DEI FILM IN PROGRAMMAZIONE */
.lista-film li {
    font-family: var(--font);
    font-size: 18px;
    padding: 15px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.titolo-film{
    color: var(--keyword-color);
    cursor: pointer;
}
.titolo-film:hover {
    text-decoration: underline;
    color: var(--keyword-color);
}