/* CONTAINER PRENOTAZIONI */
.prenotazioni-container{ 
    max-width: 1200px; 
    margin: 10px auto; 
    padding: 20px; 
    background: var(--background-header); 
    color: whitesmoke; 
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* CONTAINER MESSAGGIO */
.msg-container{
    position: fixed;
    top: 5%;
    left: 35%;
    background-color: var(--keyword-color);
    color: var(--background-header);
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    border: 1px solid var(--background-header);
    padding: 10px;
}
/* OGGETTO PRENOTAZIONE */
.item-prenotazione{
    border: 1px solid var(--navbar-color);
    border-radius: 10px;
    padding: 10px;
}
.item-prenotazione h3{
    margin: 5px 0;
}