/* RECUPERO PASSWORD CONTAINER */
.recupero-container{ 
    max-width: 800px; 
    margin: 30px auto; 
    padding: 30px; 
    background-color: var(--background-header); 
    color: whitesmoke; 
    border-radius: 10px; 
    text-align: left; 
}
.recupero-container h2{
    margin: 10px 0;
}
/* ERRORE RECUPERO */
.alert-errore{ 
    color: #ff4d4d; 
    font-weight: bold; 
    margin-bottom: 15px; 
}
/* SUCCESSO RECUPERO */
.alert-successo { 
    color: var(--keyword-color); 
    font-weight: bold;
    margin-bottom: 15px; 
}
/* FORM DEL RECUPERO PASSWORD */
.form-group { 
    margin-bottom: 20px; 
}
.form-group label { 
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold; 
}
.form-group input { 
    width: 100%; 
    padding: 10px; 
    border-radius: 5px; 
    border: 1px solid var(--navbar-color); 
    background-color: var(--background-header); 
    color: whitesmoke; 
    box-sizing: border-box; 
}
/* BOTTONE */
.btn-recupero { 
    width: 100%; 
    padding: 10px; 
    background-color: var(--keyword-color); 
    color: var(--background-header); 
    border: none; font-weight: bold; 
    cursor: pointer; 
    border-radius: 5px; 
    font-size: 16px; 
}
.btn-recupero:hover { 
    background-color: var(--navbar-color); 
    color: whitesmoke; 
}